/CristalQTARM.ncb
/CristalQTARM.suo
/CristalQTARM/generatedfiles
/CristalQTARM/HMI Atom N270 SDK (x86)/Release/vc80.pdb
/CristalQTARM/HMI Atom N270 SDK (x86)/Release/vc80.idb
/CristalQTARM/STANDARDSDK_500 (ARMV4I)/Release/vc80.pdb
/CristalQTARM/STANDARDSDK_500 (ARMV4I)/Release/vc80.idb
*.obj
